

<div class="container col-sm-10 col-md-10 col-lg-4 mt-5">
  <div class="card">
      <h3 class="card-header" id="monthAndYear"></h3>
      <table class="table table-bordered table-responsive-sm" id="calendar">
          <thead>
          <tr>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
          </tr>
          </thead>

          <tbody id="calendar-body"></tbody>
      </table>

      <br/>
  </div>
</div>